.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.template-heading{
  color: #3b73b3;
}
.App-link {
  color: #61dafb;
}
.tile-container{
  width:70vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin:15px;
}
.tile{
  width:200px;
  height:150px;
  box-shadow: 6px 7px 25px -1px grey;
}
.tile-disabled{
  width:200px;
  height:150px;
  box-shadow: 6px 7px 25px -1px grey;
  Color:grey;
  text-align: center;
}
.tile :hover{
  border: 1px solid darkgray;
}
.choose-template-button{
  background-color: rgb(0, 136, 255);
  color: white;
  font-size: 20px;
  padding:20px;
  
}
.name-input{
  margin-left: 10px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
