
.Preview {
    flex:3;
}

  .App-link {
    color: #61dafb;
  }
  .tile-container{
    width:70vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin:15px;
  }
  .tile{
    display: inline-block;
    margin: 50px 0 0 2%;
    height: 150px;
    width: 250px;
    box-shadow: 6px 7px 17px -2px grey;
  }
  .modal-size{
    width:800px;
    height:500px;
    display:flex;
    flex-direction: row;
    font-size: 0;
    flex-wrap: wrap;
    margin: 10px 5px 20px -10px;
    overflow-y: scroll;
  }
  .template-heading{
    color: #3b73b3;
      font-size: 15pt;
     
  }
  /* .tile-disabled{
    width:200px;
    height:150px;
    box-shadow: 6px 7px 25px -1px grey;
    Color:grey;
    text-align: center;
  } */
  .tile :hover{
    border: 1px solid darkgray;
  }  
 
 
  