
.Preview {
    flex:2;
}
  .App-link {
    color: #61dafb;
  }
  
 
  .modal-size{
    width:800px;
    height:500px;
    display:flex;
    flex-direction: row;
    font-size: 0;
    flex-wrap: wrap;
    margin: 16px 5px 20px -10px;
    overflow-y: scroll;
  }
  .template-heading{
    color: #3b73b3;
    font-size: 15pt;
    border-bottom: 3px solid #3b73b3;
    text-align: center;     
  }
  /* .tile-disabled{
    width:200px;
    height:150px;
    box-shadow: 6px 7px 25px -1px grey;
    Color:grey;
    text-align: center;
  } */
  .tile :hover{
    border: 1px solid darkgray;
  }  
  .name-input{
    margin-left: 10px;
  }
  .Preview{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
  }
  .allPages{
    display: flex;
    flex-direction: row;
    overflow: scroll;
  }
  .new-template-button{
    box-shadow: 2px 2px 20px 1px grey;   
    height:120px;
    min-width:170px;
    margin-top:20px;
    margin-left:10px;
    margin-right: 20px;
  }
  .displayPage{
    box-shadow: 2px 2px 20px 1px grey;   
    height:120px;
    min-width:170px;
    margin-top:20px;
    margin-left:10px;
    margin-right: 20px;
  }
  .presentation-card {
    float: left;
    margin: 20px;
    padding: 12px 20px;
    display: block;
    width: 175px;
    height: 210px;
    border-radius: 4px;
    font: 500 12px MuseoSans;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .1);
    position: relative;
    background-color: #fff;
    border-block-end: 1px solid #fff;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
  }
  
  .presentation-card :hover,
  :after,
  :before {
    transition: transform 0.3s ease-out;
    box-sizing: border-box;
  }
  
  .ppt-card-name {
    padding: 15px 0;
    color: #3b73b3;
    font-size: 14px;
    letter-spacing: .6px;
    font-weight: 700;
    text-align: center;
    font-family: MuseoSans;
    line-height: 1.2;
  }
  .ppt-card-icon{
    height: 150px;
    max-height: 150px;
  }